In [8]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from linearmodels.panel import PanelOLS
from linearmodels.iv import IV2SLS
from pystout import pystout
from statsmodels.iolib.summary2 import summary_col

In [39]:
df_grouped = pd.read_pickle("./reg_df.pkl")  
df_grouped

,company,year,doc_id,date,similarity,rescaled_similarity,rescaled_similarity_lagged,num_disc
0,AAL,2015,0000006201,2015-12-28,0.897889,0.225644,0.429436,3
1,AIG,2015,0000005272,2015-12-31,0.813058,-0.113681,0.426742,1
2,APH,2015,0000820313,2015-12-31,0.822481,-0.075988,0.382143,1
3,BBT,2015,0000092230,2015-12-31,0.785410,-0.224272,0.219174,1
4,BK,2015,0001390777,2015-12-31,0.892145,0.202668,0.298862,2
...,...,...,...,...,...,...,...,...
3292,XYL,2022,0001524472,2022-01-28,0.845406,0.015713,0.261434,2
3293,YUM,2022,0001041061,2022-02-09,0.825447,-0.064126,0.234559,2
3294,ZBH,2022,0001136869,2022-03-01,0.962009,0.482125,0.011076,8
3295,ZION,2022,0000109380,2022-01-24,0.775720,-0.263032,0.343987,2
3296,ZTS,2022,0001555280,2022-02-15,0.913610,0.288529,NaN,4

In [40]:
df_grouped.describe()

,year,similarity,rescaled_similarity,rescaled_similarity_lagged,num_disc
count,3297.000000,3297.000000,3296.000000,3295.000000,3297.000000
mean,2018.880194,0.900025,0.235000,0.234989,4.985745
std,2.017646,0.044409,0.171417,0.171442,3.904205
min,2015.000000,0.230132,-0.661086,-0.661086,1.000000
25%,2017.000000,0.873187,0.127211,0.127086,3.000000
50%,2019.000000,0.905576,0.256402,0.256391,4.000000
75%,2021.000000,0.932560,0.364336,0.364345,6.000000
max,2022.000000,0.982692,0.564856,0.564856,72.000000

In [41]:
exog_vars = df_grouped[['rescaled_similarity_lagged']]
exog_vars = sm.add_constant(exog_vars)
mod = PanelOLS(df_grouped.rescaled_similarity, exog_vars, time_effects=True)
res_total = mod.fit(cov_type='clustered', cluster_entity=True)
res_total

ValueError: Series can only be used with a 2-level MultiIndex

In [7]:
pystout([res_total], file='output.txt', digits = 2)

c:\Users\aaron\anaconda3\envs\finance2\lib\site-packages\pystout\pystout.py:377: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  options = options.append(pd.DataFrame([r],index=[value]))
c:\Users\aaron\anaconda3\envs\finance2\lib\site-packages\pystout\pystout.py:377: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  options = options.append(pd.DataFrame([r],index=[value]))
c:\Users\aaron\anaconda3\envs\finance2\lib\site-packages\pystout\pystout.py:377: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  options = options.append(pd.DataFrame([r],index=[value]))
c:\Users\aaron\anaconda3\envs\finance2\lib\site-packages\pystout\pystout.py:377: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  options = options.append(pd.DataFrame([r],index=[value]))
c:\Users\aaron\anaconda3\envs\finance2\lib\site-packages\pystout\pystout.py:377: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  options = options.append(pd.DataFrame([r],index=[value]))
c:\Users\aaron\anaconda3\envs\finance2\lib\site-packages\pystout\pystout.py:377: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  options = options.append(pd.DataFrame([r],index=[value]))
c:\Users\aaron\anaconda3\envs\finance2\lib\site-packages\pystout\pystout.py:377: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  options = options.append(pd.DataFrame([r],index=[value]))

In [5]:
df_grouped = pd.read_pickle("./reg_df2.pkl")  
df_grouped = df_grouped.groupby(['TICKER', 'year']).mean()
df_grouped

C:\Users\aaron\AppData\Local\Temp\ipykernel_46228\1303200746.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_grouped = df_grouped.groupby(['TICKER', 'year']).mean()

                 index   PERMNO       BIDLO       ASKHI         PRC    spread  \
TICKER year
A      2016  3581240.5  87432.0   42.970086   43.731210   43.369960  0.017932
       2017  3581743.5  87432.0   58.912577   59.723712   59.329681  0.013722
       2018  3582496.5  87432.0   66.522692   67.865841   67.169363  0.020070
       2019  3584510.5  87432.0   74.499358   75.821894   75.211825  0.017833
       2020  3586528.5  87432.0   91.377376   93.619525   92.514348  0.025355
...                ...      ...         ...         ...         ...       ...
ZTS    2017   367135.5  13788.0   60.700018   61.507518   61.130040  0.013256
       2018   368265.0  13788.0   84.727751   86.363052   85.541992  0.019179
       2019   369900.5  13788.0  109.404429  111.278839  110.373135  0.016953
       2020   371414.5  13788.0  142.956804  146.621279  144.786205  0.026508
       2021   372424.5  13788.0  186.854696  190.247014  188.649087  0.018223

                month  spread_change  similarity  rescaled_similarity  \
TICKER year
A      2016  6.555556      -0.000322    0.895903             0.217700
       2017  6.533865      -0.000528    0.887088             0.182438
       2018  6.505976       0.001786    0.883736             0.169033
       2019  6.539683      -0.002062    0.873507             0.128114
       2020  6.545455       0.001885    0.890478             0.196000
...               ...            ...         ...                  ...
ZTS    2017  6.533865      -0.000761    0.832374            -0.036416
       2018  6.505976       0.001855    0.848603             0.028498
       2019  6.539683      -0.001285    0.855281             0.055211
       2020  6.545455       0.000863    0.866879             0.101605
       2021  6.583333      -0.000509    0.866217             0.098954

             rescaled_similarity_lagged
TICKER year
A      2016                    0.227233
       2017                    0.345663
       2018                    0.357439
       2019                    0.383599
       2020                    0.413454
...                                 ...
ZTS    2017                    0.251440
       2018                    0.232602
       2019                    0.293538
       2020                    0.299757
       2021                    0.288529

[3213 rows x 11 columns]

In [32]:
print(df_grouped[['spread', 'spread_change', 'rescaled_similarity']].describe().round(3).to_latex())

\begin{tabular}{lrrr}
\toprule
{} &    spread &  spread\_change &  rescaled\_similarity \\
\midrule
count &  3213.000 &       3213.000 &             3213.000 \\
mean  &     0.025 &          0.000 &                0.012 \\
std   &     0.012 &          0.003 &                0.132 \\
min   &    -0.056 &         -0.097 &               -0.661 \\
25\%   &     0.017 &         -0.001 &               -0.062 \\
50\%   &     0.022 &         -0.000 &                0.020 \\
75\%   &     0.028 &          0.001 &                0.100 \\
max   &     0.162 &          0.053 &                0.445 \\
\bottomrule
\end{tabular}

C:\Users\aaron\AppData\Local\Temp\ipykernel_46228\1568850859.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df_grouped[['spread', 'spread_change', 'rescaled_similarity']].describe().round(3).to_latex())

In [9]:
np.mean(df_grouped['similarity'])

0.8443868888011477

In [14]:
(0.846504 - 0.8) * 4

0.18601599999999996

In [34]:
exog_vars = df_grouped[['rescaled_similarity']]
exog_vars = sm.add_constant(exog_vars)
mod = PanelOLS(df_grouped.spread_change*100, exog_vars, time_effects=False)
res_total1 = mod.fit(cov_type='clustered', cluster_entity=True)


exog_vars = df_grouped[['rescaled_similarity']]
exog_vars = sm.add_constant(exog_vars)
mod = PanelOLS(df_grouped.spread_change*100, exog_vars, time_effects=True)
res_total2 = mod.fit(cov_type='clustered', cluster_entity=True)

In [36]:
pystout([res_total1, res_total2], file='output2.txt', digits = 2)

c:\Users\aaron\anaconda3\envs\finance2\lib\site-packages\pystout\pystout.py:377: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  options = options.append(pd.DataFrame([r],index=[value]))
c:\Users\aaron\anaconda3\envs\finance2\lib\site-packages\pystout\pystout.py:377: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  options = options.append(pd.DataFrame([r],index=[value]))
c:\Users\aaron\anaconda3\envs\finance2\lib\site-packages\pystout\pystout.py:377: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  options = options.append(pd.DataFrame([r],index=[value]))
c:\Users\aaron\anaconda3\envs\finance2\lib\site-packages\pystout\pystout.py:377: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  options = options.append(pd.DataFrame([r],index=[value]))
c:\Users\aaron\anaconda3\envs\finance2\lib\site-packages\pystout\pystout.py:377: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  options = options.append(pd.DataFrame([r],index=[value]))
c:\Users\aaron\anaconda3\envs\finance2\lib\site-packages\pystout\pystout.py:377: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  options = options.append(pd.DataFrame([r],index=[value]))
c:\Users\aaron\anaconda3\envs\finance2\lib\site-packages\pystout\pystout.py:377: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  options = options.append(pd.DataFrame([r],index=[value]))

In [42]:
df_grouped.to_csv('df_final.csv')